// Variables
$color-parrafo: #333333;
$color-fondo: #FFFFFF;
$color-fondo2: #DFE4EE;
$fondo-gradiente: linear-gradient(to right top, #ff8bcf, #f0a1e7, #e2b6f6, #d7c8fe, #d4d7ff, #ccdfff, #c8e7ff, #c9edff, #b9f2ff, #a8f6ff, #98fbff, #8bfff8);