/* Estilo Mobile */
@media screen and (min-width: 320px) {
    .body{
        background-color: #333333;
    }

* {
    margin: 0;
    padding: 0;
}

body {
font-family: "Montserrat";
color: #333333;
background-color: #FFFFFF;
} 

/* Estilo Barra Navegadora */

header {
position: sticky;
display: grid;
grid-template-rows: repeat(2, 1fr);
width: 100%;
background-color: #DFE5ED;
}

.Navbar{
    padding: 20px;
}

.Navbar img {

}

.navbar_List {
list-style-type: none;
text-align: left;
font-size: 100%;
}

ul {
    display:inline;
    font-size: 100%;
    text-align: left;
    justify-items: end;
    }

li {
    display: inline;
    width: 15%;
    position: relative;
    font-size: 16px;
    }


/* Estilo Hero Banner */

.MainGrid{
}

.Hero{
   
    background-image: linear-gradient(to right, #44afda, #ff86f5);
    display: grid;
    grid-template-rows: 40% 60%;
    gap: 1.6em;
    align-items: center;
    justify-items: center;
}

.MainGrid .Hero__Titulo{
    padding-left: 1em;
}

.MainGrid .Hero__Imagen{
    transform: skewY(-10deg);
}

.MainGrid .Hero__Boton{
    background-color: #5d51dc;
    border-radius: 20px;
    text-align: center;
    height:fit-content;
    width:max-content;
    margin-top: 1em;
    transition: height 2s, width 1s;
        
}

.MainGrid .Hero__Boton a{
    color: white !important;
}

/* Estilo Texto Dinamico*/

.Titulo {
    text-align: center;
    font-weight: bold;
    padding: 2em 1em 1em 1em;
    }
    
    .TextoDinamico {
    display: grid;
    grid-template-rows: 30% 70%;
    align-items: center;
    justify-items: center;
    gap: 1em;
    }
    
.TextoDinamico__Subtitulo {
    }
    
.TextoDinamico__Parrafo {
     padding-left: 1em;
     padding-right: 1em;
    }

/* Estilo para Card Servicios */

.Servicios {
background-color: #DFE5ED;
display: grid;
grid-template-rows: repeat(4, 1fr);
}

.Servicios .Card{
background-color: #FFFFFF;
border-radius: 30px;
margin: 1em 1em 1em 1em;
display: grid;
grid-template-rows: 4;
padding: 1em 1em 1em 1em;
}

.Servicios .Card__Img {
height: 100px;
width: 100px;
align-self: center;
justify-self: center;
margin-bottom: 1em;
}

.Servicios .Card_Tittle{
    margin-bottom: 0.5em;
}

.Servicios .Card_Description {
    margin-bottom: 1em;
}

.Boton {
background-color: #5d51dc;
border-radius: 20px;
color: white;
text-align: center;
height: fit-content;
width:100px;
justify-self: flex-end;
}

.footer{
background-color: #DFE4EE;
}
}

/* Estilo Tablet */
@media screen and (min-width: 600px) {
    
}

/* Estilo Desktop*/
@media screen and (min-width: 1200px) {
    .body{
        background-color: #333333;
    }

* {
    margin: 0;
    padding: 0;
}

body {
font-family: "Montserrat";
color: #333333;
background-color: #FFFFFF;
} 

/* Estilo Barra Navegadora */

header {
position: sticky;
top: 0px;
display: grid;
grid-template-columns: repeat(2, 1fr);
width: 100%;
background-color: #DFE5ED;
}

.Navbar{
    padding: 20px;
}

.Navbar img {

}

.navbar_List {
list-style-type: none;
text-align: left;
font-size: 100%;
}

ul {
    display:inline;
    font-size: 100%;
    text-align: left;
    justify-items: end;
    }

li {
    display: inline;
    width: 15%;
    position: relative;
    font-size: 16px;
    }


/* Estilo Hero Banner */

.MainGrid{
}

.Hero{
    background-color: #dee5ef;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.6em;
    align-items: center;
    justify-items: center;
}

.MainGrid .Hero__Titulo{
    padding-left: 3em;
}

.MainGrid .Hero__Imagen{

}

.MainGrid .Hero__Boton{
    background-color: #5d51dc;
    border-radius: 20px;
    text-align: center;
    height:fit-content;
    width:max-content;
    margin-top: 1em;
        
}

.MainGrid .Hero__Boton a{
    color: white !important;
}

/* Estilo Texto Dinamico*/

.Titulo {
    text-align: center;
    font-weight: bold;
    padding: 2em 1em 1em 1em;
    }
    
    .TextoDinamico {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: center;
    gap: 1em;
    }
    
.TextoDinamico__Subtitulo {
    padding-left: 2em;
    }
    
.TextoDinamico__Parrafo {
     padding-right: 2em;
    }

/* Estilo para Card Servicios */

.Servicios {
background-color: #DFE5ED;
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.Servicios .Card{
background-color: #FFFFFF;
border-radius: 30px;
margin: 1em 1em 1em 1em;
display: grid;
grid-template-rows: 4;
padding: 1em 1em 1em 1em;
}

.Servicios .Card__Img {
height: 100px;
width: 100px;
align-self: center;
justify-self: center;
margin-bottom: 1em;
}

.Servicios .Card_Tittle{
    margin-bottom: 0.5em;
}

.Servicios .Card_Description {
    margin-bottom: 1em;
}

.Boton {
background-color: #5d51dc;
border-radius: 20px;
color: white;
text-align: center;
height: fit-content;
width:100px;
justify-self: flex-end;
}

.footer{
background-color: #DFE4EE;
}
}